<div class="floating-buttons">
  <a href="tel:0969882442" class="float-btn float-phone" title="Gọi ngay">
    <i class="fa-solid fa-phone"></i>
  </a>
  <a href="https://zalo.me/0969882442" target="_blank" class="float-btn float-zalo" title="Chat Zalo">
    <span style="font-size: 0.75rem; font-weight: bold;">ZALO</span>
  </a>
  <a href="https://m.me/agvngroup" target="_blank" class="float-btn float-messenger" title="Chat Messenger">
    <i class="fa-brands fa-facebook-messenger"></i>
  </a>
</div>
