<header>
<div class="nav-container">
  <a href="https://agvngroup.com" class="logo">AGVN <span>GROUP</span></a>
  <button class="hamburger" onclick="toggleMenu()" aria-label="Menu"><i class="fa-solid fa-bars"></i></button>
  <ul class="nav-menu" id="navMenu">
    <li><a href="https://agvngroup.com">Trang Chủ</a></li>
    <li><a href="https://agvngroup.com/aboutus.html">Giới Thiệu</a></li>
    <li><a href="https://agvngroup.com/AGVN_product.html">Sản Phẩm</a></li>
    <li><a href="#footer">Liên Hệ</a></li>
  </ul>
</div>
</header>
